.container {
  width: 600px;
  min-height: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
}

.textBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  flex-direction: column;
}
.textBox h3 {
  padding: 12px;
  transition: all 0.4s ease;
  font-size: 29px;
}
.author {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.author p {
  padding: 10px;
  transition: all 0.4s ease;
}

.btn {
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  color: white;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.4s ease;
  margin: 20px 0;
}

@media screen and (max-width: 650px) {
  .container {
    width: 96%;
    height: auto;
    min-height: none;
    margin-top: 40px;
  }
  .textBox h3 {
    padding: 5;

    font-size: 24px;
  }
}
